<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scatter</title>
</head>
<body style="margin: 40px;">
    <hr>
    <form action="/scatter" method="post"></form>
        최소: <input type="text" name="a"><br><br>
        최대: <input type="text" name="b"><br><br>
        평균: <input type="text" name="b"><br><br>
        개수: <input type="text" name="b"><br><br>
        
        <input type="submit" value="제출">
    
</body>
</html>